# Editor settings
.vscode/

# Linting
.mypy_cache

# Byte-compiled / optimized / DLL files
__pycache__/


# distribution
build/
*.egg-info/
dist/

# Todo + Token
todo.txt
pypi_token.txt

# Test files
main.py