# Editor settings
.vscode/

# Linting
.mypy_cache

# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
libh2.so

# distribution
build/
*.egg-info/
dist/

# Todo
todo.txt