[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
flake8 = "*"
mypy = "*"
rope = "*"
pygount = "*"

[requires]
python_version = "3.8"
